html, body {
  height: 100vh;
  background-color: #F5F5F5;
}
* {
  padding: 0;
  margin: 0;
}
.board {
  margin: 0 auto;
  display: grid;
  max-width: 300px;
}
span{
  height: auto;
  width: auto;
  display: table;
  margin: 0 auto;
  
}
.row-board{
  min-width: 300px;
  max-width: 300px;
  max-height: 100px;
  min-height: 100px;
}
.square {
    /*outline: 0;*/
    width: 100px;
    height: 100px;
}
/*button:active {
  border-style: outset;
}*/
#root{
  margin: 5%;
}
button.active.focus, button.active:focus,
button.focus, button:active.focus, 
button:active:focus, button:focus {
  min-width: 100px;
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  vertical-align: baseline;

}