body{
  justify-content: center;
}
div.status{
  font-weight: bold;
  font-size: large;
  margin:10px;
}
.gioco {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
  justify-content: center;

}
.board-row > div {
  background-color: azure;
  display: inline-block;
  border: 1px solid red;
  padding: 5px;
}

.gioco ol,
.gioco ul {
  padding-left: 30px;
}

.tabella-row:after {
  clear: both;
  content: '';
  display: table;
}

.casella {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.casella:focus {
  outline: none;
  background: #ddd;
}

.gioco {
  display: flex;
  flex-direction: row;
}

